name: Docker

on:
  workflow_dispatch:
  push:
    branches:
      - vim-be-good
  schedule:
    - cron: '30 0 * * *'

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get vim-be-good commit sha
        id: get_latest_sha
        run: |
          LATEST_SHA=$(curl -s -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/KhulnaSoft/init.lua/branches/vim-be-good \
            | jq -r .commit.sha)
          echo "LATEST_SHA=${LATEST_SHA}" >> $GITHUB_ENV

      - name: Log into GitHub Container Registry
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build images and push if builds are successful
        run: |
          LATEST_SHA=${{ env.LATEST_SHA }}
          PREVIOUS_LATEST_SHA=${{ secrets.PREVIOUS_LATEST_SHA }}

          if [ "$PREVIOUS_LATEST_SHA" != "$LATEST_SHA" ]; then
            docker build -t khulnasoft/vim-be-good:stable stable
            docker build -t khulnasoft/vim-be-good:latest latest
            docker push khulnasoft/vim-be-good:stable
            docker push khulnasoft/vim-be-good:latest

            sudo gem install rbnacl
            ENCRYPTED_SECRET=$(ruby encrypt_latest_sha.rb "$LATEST_SHA" "${{ secrets.PUBLIC_KEY }}")

            curl -X PUT \
              -H "Accept: application/vnd.github.v3+json" \
              -H "Authorization: Bearer ${{ secrets.ORG_REPO_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/actions/secrets/PREVIOUS_LATEST_SHA \
              -d "{\"encrypted_value\":\"$ENCRYPTED_SECRET\", \"key_id\": \"${{ secrets.PUBLIC_KEY_ID }}\"}"
          fi
